auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

schema_config:
  configs:
    - from: "2025-01-01"
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /var/loki/tsdb-index
    cache_location: /var/loki/tsdb-cache
  filesystem:
    directory: /var/loki/chunks

common:
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

ingester:
  wal:
    enabled: true
    dir: /var/loki/wal
  chunk_idle_period: 5m
  max_chunk_age: 1h

limits_config:
  allow_structured_metadata: true
  reject_old_samples: true
  reject_old_samples_max_age: 336h # 14 days
  retention_period: 336h # 14 days retention

compactor:
  working_directory: /var/loki/compactor
  compaction_interval: 1h
  retention_enabled: true
  retention_delete_delay: 12h
  delete_request_store: filesystem
