auth_enabled: false

server:
  http_listen_port: 3200
  grpc_listen_port: 9095

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    jaeger:
      protocols:
        thrift_http:
          endpoint: 0.0.0.0:14268
        grpc:
          endpoint: 0.0.0.0:14250
    zipkin:
      endpoint: 0.0.0.0:9411

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  trace_idle_period: 10s
  max_block_bytes: 52428800
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 336h

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal

querier:
  frontend_worker:
    frontend_address: tempo:9095

query_frontend:
  search:
    duration_slo: 5s
  trace_by_id:
    duration_slo: 5s

metrics_generator:
  storage:
    path: /var/tempo/metrics
  registry:
    external_labels:
      source: tempo
  processor:
    span_metrics:
      dimensions:
        - service.name
        - span.name
        - http.method
        - http.status_code

overrides:
  per_tenant_override_config: /etc/tempo/overrides.yaml
  defaults:
    cost_attribution:
      dimensions:
        service.name: "svc_name"
        span.http.target: "name"
    metrics_generator:
      processors: [service-graphs, span-metrics, local-blocks]
      generate_native_histograms: both

cache:
  background:
    writeback_goroutines: 5
  caches:
    - roles:
        - frontend-search
      memcached:
        addresses: dns+memcached:11211
